.main {
  min-height: 83vh;
  background: rgba(205, 225, 225, 0.729);
}

.admin-layout .side-bar {
  width: 230px;
  position: fixed;
  height: 100vh;
}

.admin-layout .main {
  width: calc(100vw-230px);

  margin-left: 230px;
}

.page-content {
  min-height: 83vh;
}

.sid-nav li {
  line-height: 2rem;
  font-weight: 600;
}
