.main {
  min-height: 83vh;
  background: rgba(205, 225, 225, 0.729);
}

.admin-layout .side-bar {
  width: 230px;
  position: fixed;
  height: 100vh;
}

.admin-layout .main {
  width: calc(100vw-230px);

  margin-left: 230px;
}

.page-content {
  min-height: 83vh;
}

.sid-nav li {
  line-height: 2rem;
  font-weight: 600;
}

.reset-pass form {
  width: 450px;
  margin: auto;
  box-shadow: -5px 5px 10px grey;
  padding: 1rem;
  border-radius: 10px;
}

.formP {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 10px;
}
.form2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 2rem;
  margin: auto;
}
